.Red-quote
{
	font-family: droid-sans-n7, sans-serif;
}

#u180-5,#u1363-12,#u1363-20,#u1734-4,#u1750-4,#u1827-4
{
	font-family: droid-sans-n4, sans-serif;
}

#u8670-4,#u1913-8
{
	font-family: '__Dited_5';
}

#u1013-4,#u1363-4,#u1363-8,#u1363-16,#u1363-18,#u1734-2,#u1734-5,#u1734-7,#u1750-2,#u1750-5,#u1750-9,#u1827-2,#u1827-5,#u1827-7,#u1925-4,#u1937-4,#u1981-4,#u2017-4,#u8634-6
{
	font-family: droid-sans-n7, sans-serif;
}

